@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  outline: none;
  list-style: none;
  font-family: "Poppins", sans-serif;

}

.App{
  display: flex;
  gap: 30px;
}
.sidebar {
  position: sticky;
  z-index: 1;
  color: #fff;
  margin: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 200px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
}
.logo-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  /* background: rgba(28, 17, 41, 0.88); */
}
.menu-bar {
  height: 75vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
}
.toggle-theme-btn {
  position: absolute;
  bottom: 30px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.toggle {
  margin-left: 15px;
}

/*----------------------------------------------------------*/

/* .card {
  background: var(--surface-card);
  border-radius: 10px;
  height: 700px;
  width: 1300px;

} */
.card {

  background: var(--surface-card);
  border-radius: 10px;
  height: 700px;
  width: 1300px;
  transition: width 0.5s ease, height 0.5s ease; /* Add smooth transitions for width and height */
}

@media only screen and (max-width: 1024px) {
  .card {
    width: 500px;
  }

}
@media only screen and (max-width: 1440px) {
  .card {
    width: 1180px;
  }
  .menu-bar{
    height: 89vh;
  }
}

/* Media query for tablets (max-width 768px) */
@media only screen and (max-width: 768px) {
  .card {
    width: 500px;
  }
  .menu-bar{
    height: 600px;
  }
}

/* Media query for phones (max-width 480px) */
@media only screen and (max-width: 480px) {
  .card {
    width: 200px;
    height: auto;
  }

 
}
@media only screen and (max-width: 320px) {
  .card {
    width: 200px;
    height: auto;
  }
 
}


.ProductDemo {
  text-align: center;
  max-height: 700px;
}
.DataTable {
  overflow-x: scroll;
  max-width: 1300px;
  max-height: 580px;
}

.ProductDemo-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .ProductDemo-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ProductDemo-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.DataTable .p-datatable-header,
.DataTable .p-datatable-footer {
  position: sticky;
  top: 0;
  background-color: #fff; 
  z-index: 1;
}
.DataTable .p-datatable-tfoot {
  position: sticky;
  z-index: 1;
  bottom: 0;
  background-color: #fff;
}

.DataTable .p-paginator {
  position: sticky;
  bottom: 0;
  background-color: #fff; 
  z-index: 1;
}

.ProductDemo-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mb-4 {
  margin-bottom: 1.5rem !important;
  margin-right: 5px;
  margin-left: 5px;
}


.welcome-container {
  text-align: center;
  background-color: #C9EFC7;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* left: 40%;
  top: 40%; */
  position: relative;
}
.logo-home{
  text-align: center;
  color: #fff;
  padding: 20px;
  /* left: 40%;
  top: 40%; */
  position: relative;
}
.home-page{
  position: fixed;
  left: 35%;
  top: 20%;
  margin: 15px;
}

/*----------1-------------------------------------------------------------------*/